body {
  background-color: #dcdcdc;
}

.App {
  text-align: center;
}

/* Branding component */
.branding {
  width: 100%;
  background-color: #ffff;
  /* using border to visualise div */
  border-style: solid;
  border-width: 2px;
}

.avertro-logo {
  height: 6vh;
}

/* Navbar component */
.navbar {
  /* using border to visualise div */
  border-style: solid;
  border-width: 2px;

  background-color: #ffff;
  height: 92vh;
  width: 6%;

  position: fixed;
  z-index: 1;
  margin-top: 6.6vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar, a {
  text-decoration: none;
}

.nav-item {
  margin-top: 20px;
  height: 8%;

  font-size: .75rem;
}

/* Reports page  */

.reportsPage {
  width: 87%;
  float: right;
  margin-right: 4%;

  /* using border to visualise div */
  border-style: solid;
  border-color: orange;
  border-width: 2px;

  background-color: #dcdcdc;
}

.pageHeading {
  text-align: left;

  margin-top: 2%;
  font-size: 1.25rem;
}

.horizontalRule {
  border: none;
  height: 1px;
  background-color: gray;
  margin-bottom: 2%;
}

.reportsContainer {
  /* using border to visualise div */
  border-style: solid;
  border-color: blue;
  border-width: 2px;
}

/* ReportsDashboard  */
.buttonContainer {
  display: flex;
  flex-direction: row;
}
.dashButton {
  font-size: 1.25rem;
  font-weight: bold;

  border-radius: 15px;
  border-style: none;
  padding:20px;
  padding-bottom: 30px;

  background-color:	#a9a9a9;
  color: #27285C;
}

.active {
  background-color: #ffff;
}

.activeDash {
  height: 70vh;
  margin-top: -1%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: purple;
}

/* Mission & Vision component  */
.missionVisionContainer {
  height: 400px;
  background-color: red;
}

/* Strategic Business Objectives component */
.stratObjContainer {
    height: 400px;
    background-color: blue;
    position: relative;
    bottom: 400px;
}
